@{
}

@model ToDoItem

<h3>Нова задача</h3>
<hr />

<form method="post" action="/todo/create" class="form-group">
    <label class="control-label">Назва задачі:</label>
    <input type=text class="form-control intput-lg" name="text" />
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>


